* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: hsl(240, 38%, 20%);

}
body {
    background-image: url(images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 80%;
}

img {
    max-width: 100%;
    height: auto;
  }

.slideshow-container {
    height: auto;
    width: 100vw;
    padding: 20px 0px 0px 0px; 
    margin: 0 10px 0 10px;
    text-align: -webkit-center;
    display: none;
   
}
.slideshow-container.active{
    display: block;
}

.container_img__profile {
    width: 65vw;
    height: 65vw;
    position: relative;
    top: 70px; 
    box-shadow: 0 20px 20px rgba(147, 112, 219, 0.65);
}

.container_image {
    position: relative;
    background-position: center;
    background-image: url(images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 85vw;
    height: 60vh;
}
.arrows {
    position: absolute;
    background-color: white;
    border: solid 5px white;
    border-radius: 50px;
    display: inline-block;
    top: 300px;
    left: 160px;
}
.left {
    padding: 7px 10px;
}
.right {
    padding: 7px 10px;
}
.testimonial {
    margin: 30px 5px;
    padding: 25px 0px;
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 20%;
}

.slider_text {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6;
}

.name {
    font-weight: 700;
    color: hsl(240, 38%, 20%);
    letter-spacing: 1.5px;
}

.profile {
    color: hsl(240, 18%, 77%);
    font-size: 17px;
    margin-top: 30px;
}

footer{
    width: 100vw;
    text-align: center;
}
.attribution {
    font-size: 11px;
    display: inline-block;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}


/*Medium devices*/
@media (min-width: 600px) {
    body {
        background-size: 50%;
    }
    .slideshow-container{
        display: none;
    }
    .slideshow-container.active {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .container_image {
        width: 85vw;
        height: 65vh;
        background-size: contain;
    }
    .container_img__profile {
        width: 22vw;
        height: auto;
        position: relative;
        top: 65px;
        box-shadow: 0 20px 20px rgba(147, 112, 219, 0.65);
    }
    .arrows {
        position: absolute;
        background-color: white;
        border: solid 5px white;
        border-radius: 50px;
        display: block;
        transform: translate(1rem, 1.25rem);
        top: 240px;
        left: 440px;
    }
    .testimonial {
        text-align: left;
        padding-left: 1rem;
    }
    .slider_text {
        font-size: 16px;
    }
}

/*Large devices*/
@media (min-width: 1200px) {
    body {
        background-size: 50%;
    }
    .slideshow-container{
        display: none;
    }
    .slideshow-container.active {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .container_image {
        width: 85vw;
        height: 65vh;
        background-size: cover;
    }
    .container_img__profile {
        width: 25vw;
        height: auto;
        position: relative;
        top: 35px;
        box-shadow: 0 20px 20px rgba(147, 112, 219, 0.65);
    }

    .arrows {
        position: absolute;
        background-color: white;
        border: solid 5px white;
        border-radius: 50px;
        display: block;
        transform: translate(2.5rem, .25rem);
        top:450px;
        left:960px;
    }
    .testimonial {
        text-align: left;
        padding-left: 3rem;
    }
    .slider_text {
        font-size: 32px;
    }
}
